<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form action="#">
          <div class="form-body">
            <h3 class="card-title">Datos Vehiculo</h3>
            <hr>
            <fieldset disabled>
              <div class="row p-t-20">
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Placa Vehículo</label>
                    <input value="ABC-0123" type="text" id="firstName" class="form-control"
                      placeholder="Placa Vehiculo">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Cliente</label>
                    <input value="Joaquin Gonzales" type="text" class="form-control" placeholder="Cliente">
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Marca</label>
                    <input value="Hino" type="text" class="form-control" placeholder="Marca">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Modelo</label>
                    <input value="DUTRO CITY" type="text" class="form-control" placeholder="Modelo">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Año</label>
                    <input value="2015" type="text" class="form-control" placeholder="Año">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Km Actual</label>
                    <input value="650000" type="text" class="form-control" placeholder="0 Km">
                  </div>
                </div>
              </div>
            </fieldset>
            <h3 class="card-title">Áreas Designadas</h3>
            <hr>
            <div class="row p-t-20">
              <div class="col-md-6">
                <div>
                  <label for="" class="form-control">Mecánica</label>
                </div>
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Cambio de Bandas Distribución
                  </label>

                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    ABC Motor
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <label for="" class="form-control">Actividades</label>
                </div>
                <br>
                <div>
                  <button (click)="open(content)" class="btn btn-outline-info"><i class="fa fa-eye"></i></button>
                </div>
                <div>
                  <button class="btn btn-outline-info"><i class="fa fa-eye"></i></button>
                </div>

              </div>
            </div>

          </div>
          <div class="form-actions">
            <button routerLink="/ordenesTrabajo" type="submit" class="btn btn-outline-success"> <i
                class="fa fa-check"></i>
              Solicitar Confirmación</button>
            <button routerLink="/ordenesTrabajo" type="button" class="btn btn-danger">Salir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pasos a Seguir</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group-append">
          <label for=""> 1.- Retira si es necesario la correa de accesorios y las protecciones de la
            distribución</label>
        </div>
        <div class="input-group-append">
          <label for=""> 2.- Bloquea las poleas</label>
        </div>
        <div class="input-group-append">
          <label for=""> 3.- Sincroniza el motor</label>
        </div>
        <div class="input-group-append">
          <label for=""> 4.- Afloja el rodillo tensor y saca la correa de distribución</label>
        </div>
        <div class="input-group-append">
          <label for=""> 5.- Desmonta los rodillos tensores y la bomba de agua</label>
        </div>
        <div class="input-group-append">
          <label for=""> 6.- Coloca la nueva correa de distribución</label>
        </div>
        <div class="input-group-append">
          <label for=""> 6.- Coloca la correa de accesorios y la protección si las quitaste</label>
        </div>
        <div class="input-group-append">
          <label for=""> 7.- Purga el líquido de refrigeración</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
  </div>
</ng-template>
