<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Repuestos a Entregar</h3>
                <hr>
                <h6 class="card-title">Actividad: <small>Cambio de Banda Distribución</small></h6>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                     Banda de Distribución
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Tensores
                      <span class="badge badge-primary badge-pill">3</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Rodillos
                      <span class="badge badge-primary badge-pill">3</span>
                    </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Refrigerante
                        <span class="badge badge-primary badge-pill">2</span>
                      </li>
                  </ul>
                  <br>
                  <div>
                    <button routerLink="/pedidosTecnico" class="btn btn-outline-success btn-block"><i class="fa fa-check"></i> Entregar</button>
                </div>
            </div>
            
        </div>
    </div>
</div>