<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Productos Faltantes</h4>
        <h6 class="card-subtitle">Productos solicitados</h6>
        <button (click)="openLg(content)" class="btn btn-outline-success"><i class="fa fa-plus"></i> Producto
          Faltante</button>
        <br>
        <br>
        <div class="table-responsive">
          <table class="table color-table warning-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>00001-AC</td>
                <td>Aceite Movil 20W-50</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2</td>
                <td>00001-KE</td>
                <td>Kit De Embrague(plato, Disco Y Ruliman)</td>
                <td>20</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <button routerLink="/ordenesTrabajo" class="btn btn-cyan btn-block"> Regresar</button>
    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Producto Nuevo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <div class="row pt-3">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Codigo</label>
            <input type="text" name="identificacion" class="form-control" placeholder="0000" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Cantidad</label>
              <input class="form-control" name="direccion" placeholder="Cantidad">
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Close click')">Guardar</button>
  </div>
</ng-template>
