<div class="row">
    <div class="col-lg-">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos por Entregar</h4>
                <h6 class="card-subtitle">Productos solicitados</h6>
                <div class="table-responsive">
                    <table class="table color-table warning-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Placa </th>
                                <th>Cliente </th>
                                <th>Km Actual </th>
                                <th>Fecha</th>
                                <th>Actividad</th>
                                <th>Km posterior</th>
                                <th>Tiempo estimado </th>
                                <th>Fecha Aproximada </th>
                                <th>Acciones </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>ABC-0001</td>
                                <td>Cliente 1</td>
                                <td>40000</td>
                                <td>01/15/2020</td>
                                <td>Cambio de Aceite</td>
                                <td>45000</td>
                                <td>60 dias</td>
                                <td>03/10/2020</td>
                                <th>
                                    <button class="btn btn-outline-success"><i class="fas fa-phone-volume"></i></button>
                                    <button class="btn btn-outline-info"><i class="fas fa-envelope-square"></i></button>
                                </th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>ABC-0002</td>
                                <td>Cliente 2</td>
                                <td>60000</td>
                                <td>01/15/2020</td>
                                <td>Cambio Zapatas</td>
                                <td>64000</td>
                                <td>40 dias</td>
                                <td>02/20/2020</td>
                                <th>
                                    <button class="btn btn-outline-success"><i class="fas fa-phone-volume"></i></button>
                                    <button class="btn btn-outline-info"><i class="fas fa-envelope-square"></i></button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button routerLink="/ordenesTrabajo" class="btn btn-cyan btn-block"> Regresar</button>
        </div>
       
    </div>
</div>