<div class="row">
  <div class="col-sm-12">
    <div class="card card-body">
      <h4 class="card-title">Rol de Pagos</h4>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form class="form-horizontal row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-8">
                      <label for="">Nombre</label>
                    </div>
                    <div class="col-md-4">
                        <label for="">Diana López</label>
                    </div>
                  </div>
                  <hr>
              <h6><b>Descuentos</b></h6>
              <hr>
              <div class="row">
                <div class="col-md-8">
                  <label for="">Atrasos</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" value=" 0"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <label for="">IESS</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" value="45.36"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <label for="">Otros</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" value="0"/>
                </div>
              </div>
              <h6><strong>Comisiones</strong></h6>
              <div class="row">
                <div class="col-md-8">
                  <label for="">Horas Extras</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" value="0"/>
                </div>
              </div>
              <hr>
              <h6><strong>Total</strong></h6>
              <div class="row">
                <div class="col-md-8">
                  <label for="">Valor a Pagar</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" value="563.62"/>
                </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-outline-warning"> Salir</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-outline-success"> Imprimir</button>
                  </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
