<div class="row" *ngIf="!cargando">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <button routerLink="/notaCredito" routerLinkActive="router-link-active"  type="button" class="btn btn-info btn-rounded m-t-10 float-right">
                <i class="fas fa-plus"></i> Nueva Nota Credito
              </button>
              <br>
              <br>
              <br>
              <div id="basicgrid" class="jsgrid" style="position: relative; height: 700px; width: 100%;">
                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                  <table class="jsgrid-table table table-striped table-hover">
                    <tr class="jsgrid-header-row">
                      <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 20px;">#</th>
                      <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 30px;">Fecha Emisión</th>
                      <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 30px;">Estab</th>
                      <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 30px;">PtoEmi</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 30px;">Secuencial</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 35px;">Cliente/Proveedor</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 35px;">Vendedor</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 35px;">Subtotal</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 35px;">Ice</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 35px;">Iva</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 35px;">Total</th>
                      <th class="jsgrid-header-cell jsgrid-align-center" style="width: 35px;">Estado</th>
                      <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                        <button class="btn btn-light" title=""> <i class="fas fa-search"></i></button>
                      </th>
                    </tr>
                    <tr class="jsgrid-filter-row " style="display: none;">
                      <td class="jsgrid-cell" style="width: 50px;"></td>
                      <td class="jsgrid-cell" style="width: 50px;">
                        <input type="text" class="form-control input-sm">
                      </td>
                      <td class="jsgrid-cell" style="width: 50px;">
                        <input type="text" class="form-control input-sm">
                      </td>
                      <td class="jsgrid-cell">
                        <input type="text" class="form-control input-sm">
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="jsgrid-grid-body" style="height: 500px;">
                  <table class="jsgrid-table table table-striped table-hover">
                    <tbody>
                      <tr *ngFor="let cliente of clientes; index as i" class="jsgrid-row">
                        <td class="jsgrid-cell" style="width: 20px;">{{i}}</td>
                        <td class="jsgrid-cell" style="width: 30px;">
                          <img src="" alt="" class=" img-circle pointer">
                        </td>
                        <td class="jsgrid-cell jsgrid-align-right" style="width: 50px;">{{cliente}}</td>
                        <td class="jsgrid-cell" style="width: 90px;">{{cliente}}</td>
                        <td class="jsgrid-cell jsgrid-align-center" style="width: 40px;">{{cliente}}</td>
                        <td class="jsgrid-cell jsgrid-align-center" style="width: 30px;">{{cliente}}</td>
                        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                          <button class="btn btn-dark">
                            <i class="fas fa-print"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="jsgrid-pager-container" align="center">
                  <div class="jsgrid-pager">
                    <span (click)="cambiarDesde(-10)" class="jsgrid-pager-nav-button"><a
                        href="javascript:void(0);">Anterior</a></span>
                    <!-- <span class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a href="javascript:void(0);">Prev</a></span>
                        <span class="jsgrid-pager-page jsgrid-pager-current-page">1</span>
                        <span class="jsgrid-pager-page"><a href="javascript:void(0);">2</a></span>
                        <span class="jsgrid-pager-page"><a href="javascript:void(0);">3</a></span>
                        <span class="jsgrid-pager-page"><a href="javascript:void(0);">4</a></span>
                        <span class="jsgrid-pager-page"><a href="javascript:void(0);">5</a></span>
                        <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">...</a></span>
                        <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Next</a></span> -->
                    <span (click)="cambiarDesde(10)" class="jsgrid-pager-nav-button"> <a
                        href="javascript:void(0);">Siguiente</a></span>
                    <!-- &nbsp;&nbsp; 1 of 7   -->
                  </div>
                </div>
                <div class="jsgrid-load-shader"
                  style="display: none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1000;">
                </div>
                <div *ngIf="cargando" class="jsgrid-load-panel"
                  style="display: block; position: absolute; top: 50%; left: 50%; z-index: 1000;">
                  Please, wait...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      