<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Repuestos</h4>
        <h6 class="card-subtitle">Solicitar</h6>
        <div class="table-responsive">
          <table class="table color-table danger-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Rulimanes</td>
                <td>100</td>
                <td>Solicitado</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Filtros Combustible</td>
                <td>100</td>
                <td>Por Solicitar</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div  class="col-lg-6">
    <div class="card">
        <img height="" width="350px;" src="assets/images/motor.PNG" alt="">
      <div class="card-body">
        <button routerLink="/ordenesTrabajo" class="btn btn-cyan btn-block"> Regresar</button>
      </div>

    </div>

  </div>
</div>
