<div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-info">
          <h5 class="mb-0 text-white">Ingreso nuevo Cliente</h5>
        </div>
  
        <form ngNativeValidate #forma="ngForm" (ngSubmit)="registraCliente(forma)">
          <div class="form-body">
            <div class="card-body">
  
              <div class="row pt-3">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Tipo Identificacion</label>
                    <select [(ngModel)]="cliente.tipoIdentificacion" #tipoidentificacion="ngModel" name="tipoidentificacion" class="form-control custom-select"
                      required>
                      <option value="defa">Selecione tipo</option>
                      <option value="04">Cédula</option>
                      <option value="01">Ruc</option>
                      <option value="02">Pasaporte</option>
                      <option value="03">Otro Documento</option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Identificacion</label>
                    <input [(ngModel)]="cliente.identificacion" #identificacion="ngModel" type="text" name="identificacion" class="form-control"
                      placeholder="Nombre Cliente" required>
                  </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Nombres/Razon Social</label>
                        <input [(ngModel)]="cliente.nombre" #nombre="ngModel" type="text" name="nombre" class="form-control"
                          placeholder="Nombre del pruducto" required>
                      </div>
                    </div>
              </div>
  
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">limite credito</label>
                    <input [(ngModel)]="cliente.limiteCredito" #limiteCredito="ngModel" class="form-control" name="limiteCredito">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">dias plazo</label>
                    <input [(ngModel)]="cliente.diasPlazo" #diasPlazo="ngModel" class="form-control" name="diasPlazo">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Dirección</label>
                    <input [(ngModel)]="cliente.direccion" #direccion="ngModel" class="form-control" name="direccion">
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="row pt-4">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"> Correo </label>
                        <input [(ngModel)]="cliente.correcoElectronico" type="email" name="correoelectronico"
                          #correoelectronico="ngModel" class="form-control" placeholder="Correo" required>

                  
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">Telefono</label>
                        <input [(ngModel)]="cliente.telefono" #telefono="ngModel" type="text"
                          name="telefono" class="form-control" placeholder="Telefono">
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">Celular</label>
                        <input [(ngModel)]="cliente.celular" #celular="ngModel" type="text"
                          name="celular" class="form-control" placeholder="Celular">
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="row pt-6">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"> Provincia </label>
                        <select [(ngModel)]="cliente.idprovincias" #idProvincias="ngModel" name="idProvincias"
                          class="form-control custom-select" required>
                          <option value="0" disabled>Seleccione provincia</option>
                          <option *ngFor="let provincia of provincias">{{provincia.provincia}}asd</option>
                           <option  [ngValue]="1">Pichincha</option> 
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Ciudad</label>
                        <select [(ngModel)]="cliente.idciudades" #idCiudades="ngModel" name="idCiudades"
                          class="form-control custom-select" required>
                          <option value="0" disabled>Seleccione % Iva</option>
                          <option  [ngValue]="1">Quito</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
  
  
  
              </div>
            </div>
            <div class="form-actions">
              <div class="card-body">
                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-dark" routerLink="/clientes">Cancel</button>
              </div>
            </div>
          </div>
  
        </form>
  
      </div>
    </div>
  </div>
  