<div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-info">
          <h5 class="mb-0 text-white">Ingreso nuevo Cliente</h5>
        </div>
  
        <form ngNativeValidate #forma="ngForm" (ngSubmit)="registraCliente(forma)">
          <div class="form-body">
            <div class="card-body">
  
              <div class="row pt-3">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Tipo Identificacion</label>
                    <select [(ngModel)]="cliente" #tipo="ngModel" name="tipo" class="form-control custom-select"
                      required>
                      <option value="defa">Selecione tipo</option>
                      <option value="PRODUCTO">RUC</option>
                      <option value="SERVICIO">CI</option>
                      <option value="SERVICIO">Pasaporte</option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Identificacion</label>
                    <input [(ngModel)]="cliente" #nombre="ngModel" type="text" name="nombre" class="form-control"
                      placeholder="Nombre del pruducto" required>
                  </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Nombres/Razon Social</label>
                        <input [(ngModel)]="cliente" #nombre="ngModel" type="text" name="nombre" class="form-control"
                          placeholder="Nombre del pruducto" required>
                      </div>
                    </div>
              </div>
  
  
  
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Alias Sucursal</label>
                    <input [(ngModel)]="cliente" #detalle="ngModel" class="form-control" name="detalle">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Código Sucursal</label>
                    <input [(ngModel)]="cliente" #detalle="ngModel" class="form-control" name="detalle">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Dirección</label>
                    <input [(ngModel)]="cliente" #detalle="ngModel" class="form-control" name="detalle">
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="row pt-4">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"> Correo </label>
                        <input [(ngModel)]="cliente" type="email" name="precioUnitario"
                          #precioUnitario="ngModel" class="form-control" placeholder="Correo" required>
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">Telefono</label>
                        <input [(ngModel)]="cliente" #precioUnitario1="ngModel" type="text"
                          name="precioUnitario1" class="form-control" placeholder="Telefono">
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">Celular</label>
                        <input [(ngModel)]="cliente" #precioUnitario2="ngModel" type="text"
                          name="precioUnitario2" class="form-control" placeholder="Celular">
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="row pt-6">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"> Provincia </label>
                        <select [(ngModel)]="cliente" #impuesto_iva_id="ngModel" name="iva"
                          class="form-control custom-select" required>
                          <option value="0" disabled>Seleccione % Iva</option>
                          <option *ngFor="let iva of cliente" [ngValue]="iva.id">{{iva.nombre}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Ciudad</label>
                        <select [(ngModel)]="cliente" #impuesto_iva_id="ngModel" name="iva"
                          class="form-control custom-select" required>
                          <option value="0" disabled>Seleccione % Iva</option>
                          <option *ngFor="let iva of cliente" [ngValue]="iva.id">{{iva.nombre}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
  
  
  
              </div>
            </div>
            <div class="form-actions">
              <div class="card-body">
                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-dark" routerLink="/clientes">Cancel</button>
              </div>
            </div>
          </div>
  
        </form>
  
      </div>
    </div>
  </div>
  