<!-- <div align="center"  *ngIf="cargando"
class="jsgrid-load-panel text-center" style="display: block; position: absolute;  z-index: 1000; top: 30%; left: 40%;">
  Cargando...
</div> -->
<!-- *ngIf="!cargando" -->
<div class="row" >

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-info">
          <h5 class="mb-0 text-white">Cliente</h5>
        </div>
  
        <form ngNativeValidate #forma="ngForm" (ngSubmit)="registraCliente(forma)">
          <div class="form-body">
            <br>
            <div align="right">
              <button routerLink="/vehiculo" class="btn btn-outline-success">Agregar Vehiculo</button>
            </div>
            
            <div class="card-body">
  
              <div class="row pt-3">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Tipo Identificación</label>
                    < <select [(ngModel)]="cliente.tipoidentificacion" name="tipoidentificacion" #tipoidentificacion="ngModel" class="form-control custom-select"
                      required> 
                      <!-- <input   type="text" name="tipoidentificacion" class="form-control"> -->
                       <option value="0" selected="selected">Selecione tipo</option>
                      <option value="04">Cédula</option>
                      <option value="01">Ruc</option>
                      <option value="02">Pasaporte</option>
                      <option value="03">Otro Documento</option>
                    </select> 
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Identificación</label>
                    <input [(ngModel)]="cliente.identificacion" #identificacion="ngModel" type="text" name="identificacion" class="form-control"
                      placeholder="Nombre Cliente" required>
                  </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Nombres/Razón Social</label>
                        <input [(ngModel)]="cliente.nombre" #nombre="ngModel" type="text" name="nombre" class="form-control"
                          placeholder="Nombre del pruducto" required>
                      </div>
                    </div>
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Dirección</label>
                    <input [(ngModel)]="cliente.direccion" #direccion="ngModel" class="form-control" name="direccion">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Teléfono</label>
                    <input [(ngModel)]="cliente.telefono" #telefono="ngModel" class="form-control" name="telefono">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Celular</label>
                    <input [(ngModel)]="cliente.celular" #celular="ngModel" class="form-control" name="celular">
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="row pt-4">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Correo</label>
                        <input [(ngModel)]="cliente.correoelectronico" type="email" name="correoelectronico"
                          #correoelectronico="ngModel" class="form-control" placeholder="Correo" required>
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">Provincia</label>
                        <select [(ngModel)]="cliente.idprovincias" #idProvincias="ngModel" name="idProvincias"
                          class="form-control custom-select" required>
                          <option value="0">Seleccione provincia</option>
                          <option *ngFor="let provincia of provincias">{{provincia.nombreP}}asd</option>
                           <option  [ngValue]="1">Pichincha</option> 
                        </select>
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">Ciudad</label>
                        <select [(ngModel)]="cliente.idciudades" #idCiudades="ngModel" name="idCiudades"
                          class="form-control custom-select" required>
                          <option value="0" disabled>Seleccione Ciudad</option>
                          <option  [ngValue]="1">Quito</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="row pt-6">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Límite Crédito</label>
                        <input [(ngModel)]="cliente.limitecredito" #limitecredito="ngModel" class="form-control" name="limitecredito">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Días Plazo</label>
                        <input [(ngModel)]="cliente.diasplazo" #diasplazo="ngModel" class="form-control" name="diasplazo">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Tolerancia</label>
                        <input [(ngModel)]="cliente.tolerancia" #tolerancia="ngModel" class="form-control" name="tolerancia">
                      </div>
                    </div>
                  </div>
                </div>
  
  
  
              </div>
            </div>
            <div class="form-actions">
              <div class="card-body">
                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-danger" routerLink="/clientes"><i class="fas fa-times"></i> Cancelar</button>
              </div>
            </div>
          </div>
  
        </form>
  
      </div>
    </div>
  </div>
  