<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form class="form pt-3">

          <div class="row pt-3">
            <section class="content">

              <div class="col-12">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-2">
                      <label>Fecha</label>
                      <input type="text" class="form-control" id="fecha" value="2019-12-03">
                    </div>
                    <div class="col-md-2">
                      <label>Tipo</label>
                      <select class="form-control" name="tipo_tecnologia" disabled="" id="tipo_tecnologia">
                        <option selected="true" value="1">Electrónica</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label>Punto Emisión</label>
                      <select class="form-control" disabled="true" id="punto_emision" name="punto_emision">
                        <option value="1">003-Otros</option>
                        <option selected="true" value="16">002-Caja 2</option>
                        <option value="35">001-General</option>
                        <option value="1505">900-Caja 2</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <label>Secuencial</label>
                      <input class="form-control validador_numeroentero" type="number" value="" id="secuencial">
                    </div>

                    <div class="col-md-3">
                      <label>Ambiente</label>
                      <select class="form-control" name="ambiente" id="ambiente">
                        <option selected="true" value="1">Pruebas</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="box">
                <div class="box-header with-border">
                  <h4 class="box-title">Datos del Comprador</h4>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col col-md-3">
                      <label>Cliente</label>
                      <div class="input-group">
                        <input id="" name="" class="form-control" type="text" value=""
                          placeholder="Ingrese su Busqueda">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-primary btn-flat"><i class="fa  fa-search"></i></button>
                        </span>
                      </div>
                    </div>

                    <div class="col col-md-3">
                      <label>Seleccione un Resultado</label>
                      <select class="form-control" id="clientes">
                        <option value="680">PATRICIO MORA ALVAREZ</option>

                      </select>
                    </div>

                    <div class="col col-md-3">
                      <label>Sucursal</label>
                      <select class="form-control" id="sucursalesclientes">
                        <option selected="true" value="940">MATRIZ</option>
                      </select>
                    </div>
                    <div class="col col-md-3">
                      <div class="btn-group">
                        <button type="button" class="btn btn-success "> <i class="fa fa-plus-square"></i> Nuevo</button>
                        <button type="button" class="btn btn-warning "> <i class="fa fa-edit"></i> Editar</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="box-body">
                  <div class="row">
                    <div class="col col-md-3">
                      <label>Tipo Identificacion</label>
                      <div class="input-group">
                        <select class="form-control" id="clientes">
                          <option value=""></option>
                        </select>
                      </div>
                    </div>

                    <div class="col col-md-3">
                      <label>Identificacion</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>

                    <div class="col col-md-3">
                      <label>Nombres/Razon Social</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>
                    <div class="col col-md-3">
                      <label>Dirección</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>
                  </div>
                </div>


                <div class="box-body">
                  <div class="row">
                    <div class="col col-md-3">
                      <label>Telefono</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>

                    <div class="col col-md-3">
                      <label>Celular</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>

                    <div class="col col-md-6">
                      <label>Correo</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>
                  </div>
                </div>

                <div class="box-body">
                  <div class="row">
                    <div class="col col-md-3">
                      <label>Sucursal</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>

                    <div class="col col-md-3">
                      <label>Codigo Sucursal</label>
                      <input id="" name="" class="form-control" type="text" value="" placeholder="Ingrese su Busqueda">
                    </div>

                    <div class="col col-md-3">
                      <label>Provincia</label>
                      <div class="input-group">
                        <select class="form-control" id="clientes">
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="col col-md-3">
                      <label>Ciudad</label>
                      <div class="input-group">
                        <select class="form-control" id="clientes">
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- START PRODUCTS AND SERVICES-->
              <div class="box">
                <div class="box-header with-border">

                  <h3 class="box-title">Productos y Servicios</h3>
                  <button (click)="_modalProducto.mostarModal()" type="button" class="btn  btn-primary btn-sm flat"
                    data-toggle="modal" data-target="#modal-productos">
                    <i class="fa fa-search"></i> Buscar / Añadir
                  </button>
                  <app-modal-producto></app-modal-producto>
                </div>
                <div class="box-body">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <thead style="width:100%;">
                          <tr>
                            <th style="width:130px;">Código</th>
                            <th>Nombre</th>
                            <th>Detalle</th>
                            <th style="width:70px;">Cantidad</th>
                            <th style="width:90px;">P.Unitario</th>
                            <th style="width:75px;">Desc</th>
                            <th style="width:75px;">Subtotal</th>
                            <th style="width:35px;">Ice</th>
                            <th style="width:75px;">Iva</th>
                            <th style="width:90px;">Total</th>
                            <th style="width:20px;"><i class="fa fa-times-circle anadir"></i></th>
                          </tr>

                        </thead>
                        <tbody id="detalleventa">


                        </tbody>
                      </table>
                    </div>
                  </div>


                </div>
              </div>
              <!--END PRODUCTS AND SERVICES-->

              <div class="row">
                <!--START PAY FORMS-->
                <div class="col-md-6">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Forma de Pago</h3>
                      <button type="button" class="btn  btn-primary btn-sm flat" onclick="anadir_formapago()">
                        <i class="fa fa-plus"></i> Añadir
                      </button>
                    </div>
                    <div class="box-body">
                      <table>
                        <tbody class="tabladatosformadepago">
                          <tr>
                            <td>
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Forma Pago</label>
                                </div>
                                <div class="col-md-8">
                                  <select id="formadepago" class="form-control" name="formadepago">
                                    <option value="01">Sin utilizacion del sistema financiero</option>
                                  </select>
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-md-4"><label>Plazo</label></div>
                                <div class="col-md-8">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <input id="plazo" name="plazo" type="number" class="form-control"
                                        placeholder="Ejm: 30">
                                    </div>
                                    <div class="col-md-6">
                                      <select id="tiempo" class="form-control" name="tiempo">
                                        <option selected="" value="ninguno">ninguno</option>
                                        <option value="dias">Dias</option>
                                        <option value="meses">Meses</option>
                                        <option value="anios">Años</option>
                                      </select>
                                    </div>
                                  </div>

                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-md-4">
                                  <label>Valor</label>
                                </div>
                                <div class="col-md-8">
                                  <input class="form-control usd2" value="0.00" type="text" placeholder=""
                                    id="totalformapago">
                                </div>
                              </div>
                            </td>
                            <td><a id="eliminar_formapago"><i class="fa fa-times-circle anadir"></i></a></td>
                          </tr>
                        </tbody>

                      </table>


                    </div>
                  </div>


                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Datos adicionales (Opcional) </h3>
                      <button type="button" class="btn  btn-primary btn-sm flat" data-toggle="modal"
                        data-target="#modal-default1">
                        <i class="fa fa-plus"></i> Añadir
                      </button>
                    </div>
                    <div class="box-body ">
                      <table class=" table ">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Detalle</th>
                          </tr>
                        </thead>
                        <tbody id="tabladatosadicianales" class="tabladatosadicianales">

                        </tbody>
                      </table>
                    </div>
                    <div class="modal fade" id="modal-default1" style="display: none;">
                      <div class="modal-dialog ">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Datos Adicionales</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-2"><b>Nombre</b></div>
                              <div class="col-md-4">
                                <input id="nombre_adicional" name="nombre_adicional" type="text"
                                  class="form-control validador_texto300" placeholder="Ejm: Orden">
                              </div>
                              <div class="col-md-2"><b>Descripción</b></div>
                              <div class="col-md-4">
                                <input id="detalle_adicional" name="detalle_adicional" type="text"
                                  class="form-control validador_texto300" placeholder="Ejm: ABCD123">
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                            <button class="btn  btn-primary " id="botonanadiracional"> Añadir Adicional</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="box">
                    <div class="box-body">
                      <div class="col-md-12">
                        <div class="col-md-6"><b>Guia de Remisioón (Opcional)</b></div>
                        <div class="col-md-6"><input type="text" name="guia_remision" id="guia_remision"
                            class="form-control validador_secuencialdocumento" placeholder="___-___-_________"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--END PAY FORMS-->
                <!--START TOTAL-->
                <div class="col-md-6">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Totales</h3>
                    </div>
                    <div class="box-body">
                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Subtotal sin
                              Impuestos</label></div>
                          <div class="col-md-6">
                              <input  class="valorcito form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_subtotal_sinimpuestos"></div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group row price">


                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Subtotal Iva
                              12%</label></div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_subtotal_iva12"></div>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Subtotal 0%</label>
                          </div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_subtotal_ivacero"></div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Subtotal no objeto
                              de iva</label></div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_subtotal_noobjeto"></div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Subtotal Exento de
                              iva</label></div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_subtotal_exento"></div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Total
                              descuento</label></div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_descuento"></div>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Valor ICE</label>
                          </div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_ice"></div>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Valor irbpnr</label>
                          </div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_irbpnr"></div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Iva 12%</label>
                          </div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_iva12"></div>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Propina 10%</label>
                            <input type="checkbox" id="propina" name="propina" value="propina" onclick="propina()">
                          </div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_propina"></div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group row price">
                          <div class="col-md-6"><label class="form-control-label tvalor" for="l0">Valor Total</label>
                          </div>
                          <div class="col-md-6"><input class="form-control" disabled="" value="0.00" type="text"
                              placeholder="" id="totales_valortotal"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <!--END TOTAL-->
              </div>


              <input type="checkbox" id="reembolso" name="reembolso" value="reembolso" onclick="opcion_reembolso()">Aplica Reembolso de Gastos

              <div class="opcion_reembolso" style="display: none;">
                <div class="row">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Reembolso de Gastos</h3>
                      <button type="button" class="btn  btn-primary btn-sm flat" data-toggle="modal"
                        data-target="#modal-reembolso">
                        <i class="fa fa-plus"></i> Añadir Reembolso
                      </button>
                    </div>

                    <div class="box-body ">
                      <table class=" table ">
                        <thead>
                          <tr>
                            <th>Proveedor</th>
                            <th>Tipo Comprobante</th>
                            <th>Secuencial</th>
                            <th>Fecha emision</th>
                            <th>Autorizacion</th>
                            <th>Base Iva 0%</th>
                            <th>Base Iva 12%</th>
                            <th>Valor Ice</th>
                            <th>Total</th>
                            <th>Acciones</th>
                          </tr>

                        </thead>
                        <tbody id="tablareembolsos" class="tablareembolsos">

                        </tbody>

                      </table>

                      <div class="col-md-6">
                        <div class="col-md-6"><b>Total Reembolso</b></div>
                        <div class="col-md-6"><input type="text" class="valorcito" name="totales_reembolso"
                            id="totales_reembolso" disabled=""></div>
                      </div>



                    </div>

                    <div class="modal fade" id="modal-reembolso" style="display: none;">
                      <div class="modal-dialog ">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Añadir Reembolso</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-4"><b>Proveedor</b></div>
                              <div class="col-md-8">
                                <div class="input-group">
                                  <input id="criterioproveedor" name="criterioproveedor" class="form-control"
                                    type="text" value="" placeholder="Ingrese su Busqueda">
                                  <span class="input-group-btn">
                                    <button id="botonbuscarproveedorextraboton" type="button"
                                      class="btn btn-primary btn-flat"><i class="fa  fa-search"></i></button>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                Seleccione un Resultado
                              </div>
                              <div class="col-md-8">
                                <select class="form-control" id="proveedores">
                                </select>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                Nombre
                              </div>
                              <div class="col-md-8">
                                <input type="hidden" name="proveedor_id_proveedor" id="proveedor_id_proveedor">
                                <input name="proveedor_nombre" type="text" class="form-control requerido "
                                  placeholder="9999999999999" id="proveedor_nombre" disabled="disabled">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                Ruc
                              </div>
                              <div class="col-md-8">
                                <input name="proveedor_ruc" type="text" class="form-control requerido "
                                  placeholder="9999999999999" id="proveedor_ruc" disabled="disabled">
                              </div>
                            </div>


                            <div class="row">
                              <div class="col-md-4">
                                <label class="form-control-label" for="l0">Tipo de Documento</label>
                              </div>
                              <div class="col-md-8">
                                <select id="proveedor_tipodocumento" name="proveedor_tipodocumento"
                                  class="form-control">
                                  <option value="01" selected="selected">Factura</option>
                                  <option value="03">Liq de Compras</option>
                                  <option value="05">Nota de Debito</option>
                                  <option value="19">COMPROBANTE DE PAGO APORTES</option>
                                  <option value="11">Pasajes emitidos por empresas de aviación</option>
                                  <option value="12">Documentos emitidos por instituciones financieras</option>
                                  <option value="13">Documentos emitidos por compañias de seguros</option>
                                  <option value="15">Comprobantes de venta emitidos en el exterior</option>
                                  <option value="18">Documentos autorizados en ventas excepto ND y NC</option>
                                  <option value="21">Carta de porte aereo</option>
                                </select>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <label class="form-control-label" for="l0">Nro.Comprobante:</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" class="form-control validador_secuencialdocumento"
                                  name="proveedor_documento_sustento" id="proveedor_documento_sustento"
                                  placeholder="___-___-_________">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <label class="form-control-label" for="l0">Autorización:</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" class="form-control " name="proveedor_autorizacion"
                                  id="proveedor_autorizacion">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <label class="form-control-label" for="l0">Fecha de Emision</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="proveedor_documento_fecha"
                                  id="proveedor_documento_fecha" value="2019-12-03">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-2">
                                <label class="form-control-label" for="l0">ICE</label>
                              </div>
                              <div class="col-md-10">
                                <div class="col-md-4">
                                  Codigo
                                  <select class="form-control" name="reembolso_tipoice" id="reembolso_tipoice">
                                    <option value="0">Seleccione Ice</option>
                                  </select>
                                </div>
                                <div class="col-md-2">
                                  Porc
                                  <input type="number" class="form-control porc" name="proveedor_porcice"
                                    id="proveedor_porcice" value="" onchange="actualizaranadirreembolso()">

                                </div>
                                <div class="col-md-3">
                                  Base
                                  <input type="text" class="form-control validador_numero2 usd2"
                                    name="proveedor_baseice" id="proveedor_baseice" value=""
                                    onchange="actualizaranadirreembolso()">
                                </div>
                                <div class="col-md-3">
                                  Total ice
                                  <input type="text" class="form-control validador_numero2 usd2"
                                    name="proveedor_totalice" id="proveedor_totalice" value="" disabled="">
                                </div>

                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <label class="form-control-label" for="l0">Base Iva 0%</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" class="form-control validador_numero2 usd2" name="proveedor_baseiva0"
                                  id="proveedor_baseiva0" value="" onchange="actualizaranadirreembolso()">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <label class="form-control-label" for="l0">Base Iva 12%</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" class="form-control validador_numero2 usd2"
                                  name="proveedor_baseiva12" id="proveedor_baseiva12" value=""
                                  onchange="actualizaranadirreembolso()">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <label class="form-control-label" for="l0">Total</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" class="form-control validador_numero2 usd2" name="proveedor_total"
                                  id="proveedor_total" value="" disabled="">
                              </div>
                            </div>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button class="btn  btn-primary " id="botonanadirreembolso"> Añadir Reembolso</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar, Firmar yEnviar</button>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
