<div class="col-md-4" [ngClass]="_modalControl.oculto">
  <div class="card">
    <div class="card-body">
      <!-- sample modal content -->
      <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        style="display: block;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                Agregar Nueva Cuenta
              </h4>
              <button (click)="_modalControl.ocultarModal()" (click)="dataChanged()" type="button" class="close" aria-hidden="true">
                ×
              </button>
            </div>
            <div class="modal-body">
              <form #forma="ngForm" (ngSubmit)="crearCuenta( forma )">
                <div class="row">
                  <div class="col-md-6">
                    <label class="control-label">Escoja un Cuenta</label>
                    <select (ngModelChange)="dataChanged($event)" [(ngModel)]="planCuentas.pgccuenta" name="pgccuenta" class="form-control">
                      <option value="" selected disabled>Seleccione Cuenta</option>
                      <option *ngFor="let lista of listaCuentas" [ngValue]="lista.pgccuenta"> {{lista.pgccuenta}} - {{lista.pgcnombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <label class="control-label">Nombre de Nueva Cuenta</label>
                    <input [(ngModel)]="planCuentas.pgccuenta" name="cuenta" class="form-control" type="text" placeholder=" Cuenta">
                    <input [(ngModel)]="planCuentas.pgcnombre" name="nombre" class="form-control" type="text" placeholder="Nombre de la Cuenta">
                    <input [(ngModel)]="planCuentas.pgctipo" value="M" name="tipo" class="form-control" type="hidden" placeholder="Tipo">
                      
                  </div>
                </div>
                <br>
                <div class="modal-footer">
                  <button (click)="_modalControl.ocultarModal()" type="button"
                    class="btn btn-danger waves-effect text-left">
                    <i class="fas fa-times"></i> Cerrar
                  </button>
                  <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Guardar
                  </button>
                </div>
              </form>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </div>
</div>
