<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Historial</h4>
                <h6 class="card-subtitle">Actividades Realizadas</h6>
                <div class="table-responsive">
                    <table class="table color-table success-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Actividad</th>
                                <th>Km</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>16/01/2020</td>
                                <td>ABC Motor</td>
                                <td>65000</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>16/01/2020</td>
                                <td>ABC Frenos</td>
                                <td>65000</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <button routerLink="/ordenesTrabajo" class="btn btn-cyan btn-block"> Regresar</button>
        </div>
       
    </div>
</div>