<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <button  class="btn btn-success" type="button"><i class="fas fa-plus-circle"></i> Orden Trabajo</button>
        </div>
        <div class="text-center">
            <address>
                <h1> &nbsp;<b class="cpo">Bienvenido</b></h1>

                <img class="cpo" src="./assets/images/mecanica.png"  alt="">
            </address>
        </div>
        
        <div class="text-center cpo">
                <h1 color="#1F618D">M.A.DI.L</h1>
        </div>
    </div>

</div>
